vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Apr 2013 15:40:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MEST\\mest
vti_modifiedby:SR|MEST\\mest
vti_timecreated:TR|23 Apr 2013 15:40:08 -0000
vti_cacheddtm:TX|23 Apr 2013 15:40:08 -0000
vti_filesize:IR|19751
vti_cachedlinkinfo:VX|S|fonts/Icons.eot S|fonts/Icons.eot S|fonts/Icons.woff S|fonts/Icons.ttf S|fonts/Icons.svg
vti_cachedsvcrellinks:VX|FSUS|POP/_include/css/fonts/Icons.eot FSUS|POP/_include/css/fonts/Icons.eot FSUS|POP/_include/css/fonts/Icons.woff FSUS|POP/_include/css/fonts/Icons.ttf FSUS|POP/_include/css/fonts/Icons.svg
vti_backlinkinfo:VX|POP/index_o.html
